<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnTGVL.Properties.Settings.conn" connectionString="Data Source=DESKTOP-GNKOG39\SQLEXPRESS;Initial Catalog=qlyDoAnTGT;Integrated Security=True;Trust Server Certificate=True" />
    </connectionStrings>
</configuration>